/* HERO SECTION */
@media screen and (min-width: 992px) and (max-width: 1322px) {
  .solution_hero_bottom-kiwi-wrapper {
    width: 10rem;
    height: 10rem;
  }
  .solution_hero_kiwi-wrapper {
    right: -7%;
    width: 10rem;
    height: 10rem;
  }
  .solution_hero_bottom-kiwi-wrapper {
    bottom: -2%;
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1192px) {
  .solution_hiw_arrow-wrapper {
    width: 12.5rem;
    bottom: -8rem;
  }
}

@media screen and (min-width: 1097px) and (max-width: 1240px) {
  .solutions_hero_top-embed-wrapper {
    inset: -15% -30% auto auto;
  }
}
/* HIW SECTION */
@media screen and (min-width: 992px) and (max-width: 1188px) {
  .solutions_hiw_right-col {
    padding-top: 3.5rem;
  }
  .solution_hiw_number-content {
    width: 4rem;
    height: 4rem;
  }
  .solution_hiw_number-text {
    font-size: 3rem;
  }
}
