@import url('./css/home.css');
@import url('./css/solutions.css');
@import url('./css/mission.css');

/* Navbar */
@media screen and (min-width: 992px) and (max-width: 1308px) {
  .navbar_menu.is-page-height-tablet {
    grid-column-gap: 1.5rem !important;
  }
  .navbar_component {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .navbar_logo-link {
    width: 9rem;
    height: 4rem;
  }
  .navbar_logo-link {
    margin-right: 0px;
  }
}
