@import url('./css/home.css');
@import url('./css/solutions.css');

/* Navbar */
@media screen and (min-width: 992px) and (max-width: 1308px) {
  .navbar_menu.is-page-height-tablet {
    grid-column-gap: 1.5rem !important;
  }
  .navbar_component {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .navbar_logo-link {
    width: 9rem;
    height: 4rem;
  }
  .navbar_link {
    font-size: 1.125rem;
  }
}

/* Footer */
/*@media screen and (min-width: 992px) and (max-width: 1305px) {
        .footer_center-wrapper {
            flex-direction : column 
        }
      }*/
